body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#fff6e5;
  font-family: Arial, sans-serif;
  padding: 10px;
}
#title{
  color: #4a2e1f;
  font-size: 50px;

  
}
.container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  background-color:#fff6e5 ;
  color: #4a2e1f;
  border-radius: 50px;
  
}


.products, .cart, .report {
  border: 1px solid #ccc;
  padding: 15px;
  width: 300px;
  min-height: 200px;
}

button {
  font-size: 20px;
  margin-top: 5px;
  padding: 5px 10px;
}

#completeSale{
 background-color: #c58a2c;
}

#productList button {
  display: block;
  height: 100px;
  margin-bottom: 15px;
  border: 3px solid #4a2e1f;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  width: 100%;
}
