body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#d2d6c0;
  font-family: Arial, sans-serif;
  padding: 10px;
}
#title{
  color: #4a2e1f;
  font-size: 50px;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  color: #4a2e1f;
  font-style: normal;
}


.products, .cart, .report {
  border: 1px solid #ccc;
  padding: 25px;
  width: 300px;
  min-height: 200px;
  border-radius: 30px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  background-color: #fff;

   transition:  
    transform 0.15s ease,
    box-shadow 0.15s ease,
    background-color 0.15s ease;
}
.products:hover, .cart:hover, .report:hover{
  box-shadow: 0 6px 5px rgba(0,0,0,0.5);
}

#cash{
  font-size: 15px;
  width: 80%;
  height: 10%;
}

button {
  font-size: 20px;
  margin-top: 5px;
  padding: 5px 10px;
}

#completeSale{
padding: 10px;
cursor: pointer;
font-size: 20px;
 color: #fff;
 background-color: #c58a2c;
 width: 100%;
 border-radius: 50px;
 border: none;
 box-shadow: 0 6px 15px rgba(0,0,0,0.2);

  transition:  
    transform 0.15s ease,
    box-shadow 0.15s ease,
    background-color 0.15s ease;
}

#completeSale:hover{
  transform: scale(0.96);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  background-color: #c58a2c;
  border-color: #c58a2c;
  color: #fff;  

}
#productList button {
  display: block;
  height: 100px;
  margin-bottom: 15px;
  border: 3px solid #4a2e1f;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  width: 100%;
  cursor: pointer;
  background-color: #fff;

    transition:  
    transform 0.15s ease,
    box-shadow 0.15s ease,
    background-color 0.15s ease;
}
#productList button:hover {
  transform: scale(0.96);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  background-color: #c58a2c;
  border-color: #c58a2c;
  color: #fff;                     
}

#productList button:active{
  transform: scale(0.96);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  background-color: #c58a2c;
  border-color: #c58a2c;
  color: #fff;                      
}

#refreshReport{

padding: 10px;
 cursor: pointer;
 font-size: 20px;
 color: #fff;
 background-color: #c58a2c;
 width: 100%;
 border-radius: 50px;
 border: none;
 box-shadow: 0 6px 15px rgba(0,0,0,0.2);

  transition:  
    transform 0.15s ease,
    box-shadow 0.15s ease,
    background-color 0.15s ease;

}

#refreshReport:hover{
  transform: scale(0.96);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  background-color: #c58a2c;
  border-color: #c58a2c;
  color: #fff;  
}
